* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1500px;
    height: 3365px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.header {
    background-image: url(../img/f2.jpg);
    width: 1500px;
    height: 700px;
}

.header a {
    width: 509px;
    height: 111px;
    display: block;
    background-image: url(../img/logo.png);
    margin-left: 201px;
    margin-top: 24px;
    background-repeat: no-repeat;
    float: left;
}

.headerTop {
    height: 135px;
}

.welcome {
    background-color:  #060084;
    width: 270px;
    height: 300px;
    margin-left: 165px;
    margin-top: 201px;
    float: left;
}

.welcome > h3 {
    color: whitesmoke;
    text-transform: uppercase;
    padding: 0 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-top: 82px;
    margin-bottom: 24px;
}

.welcome > p {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    padding: 0 22px;
}

.content {
    height: 2317px;
    background-color: #f8f8f8;;
}

.menuHead {
    background-color:  #333333;
    width: 228px;
    height: 35px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    padding-top: 31px;
    padding-left: 42px;
    text-transform: uppercase;
}

.nav {
    background-color:  #26d2fc;
    width: 270px;
    position: relative;
    left: 165px;
    top: -20px;
}

.nav ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-align: left;
    height: 40px;
    text-transform: uppercase;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 40px;
    display: block;
}
.nav ul li:hover a, .nav ul li:hover {
    background-color: #333333;
    color: white;
}